/* Reset CSS */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: rgb(245, 78, 0);
    --color-secondary: rgb(237, 236, 236);
    --color-background: #14120b; /* rgb(20, 18, 11);*/
    --color-background-card: rgb(27, 25, 19);
    --color-background-card: rgb(27, 25, 19);
    --color-foreground: #edecec; /* rgb(237, 236, 236); */
    --color-foreground-muted: #e4e4e499; /* rgb(215, 214, 213); */
    --font-family: 'Geist', system-ui, 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    --max-width: 1317px;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-family);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0;
}

.logo img {
    width: 95px;
}

.nav-container {
    display: flex;
    align-items: center;
    padding: 15px 0;
    padding-right: 17px;
    justify-content: space-between;
}

.primary-btn, .secondary-btn {
    font-size: 14px;
}

.primary-btn {
    background-color: var(--color-foreground);
    color: var(--color-background);
    padding: 6px 11px;
    border-radius: calc(infinity*1px);
}

a {
    text-decoration: none;
}
.secondary-btn {
    background-color: black;
    color: var(--color-foreground);
    padding: 6px 11px;
    border: 0.5px solid var(--color-foreground);
    border-radius: calc(infinity*1px);
}

.primary-btn:hover {
    background-color: var(--color-foreground-muted);
}

.nav-links a {
    color: var(--color-foreground);
    text-decoration: none;
    padding: 0 15px;
    font-size: 14px;
}

section {
    padding-top: 112px;
}

.hero-headline {
    width: 550px;
}

h1 {
    font-size: 26px;
    font-weight: 375;
    letter-spacing: -0.325px;
    line-height: 32.5px;
    margin-bottom: 25px;
}

.hero-cta-container {
    height: 50px;
    width: 550px;
}
.hero-cta {
    background-color: var(--color-foreground);
    color: var(--color-background);
    padding: 6px 11px;
    border-radius: calc(infinity*1px);
    padding: 12.5px 21.5px;
    display: block;
    width: 250px;
}
.icon {
    padding: 7px;
    font-weight: 700;
    font-size: 1.1em;
}

.hero-image {
    margin-top: 75px;
}

.logo-section{
    display: flex;
    gap: 10px;
}

.logo-card {
    width: 154px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-card);
    border-radius: 5px;
}

.logo {
    width: auto;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    display: block;
}

.feature-section {
    display: flex;
    background-color: var(--color-background-card);
    padding: 15px 15px;
}

.fs-text {
    margin: auto 0;
    padding: 20px
}

.fs-text h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
}

.fs-text p {
    font-size: 22px;
    font-weight: 400;
    color: var(--color-foreground-muted);
    margin-bottom: 15px;
}

h2 {
    font-size: 26px;
    font-weight: 375;
    letter-spacing: -0.325px;
    margin-bottom: 30px;
}

.feature-cards-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    background-color: var(--color-background-card);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 245px;
}

.card > p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-foreground-muted);
    line-height: 24px;
    margin-bottom: 30px;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

p.card-description {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-foreground);
}

.person-details p.person-postion {
    font-size: 13px;
    color: var(--color-foreground-muted);
}

.btn-tertiary {
    color: var(--color-primary);
    font-size: 16px;
}

.btn-tertiary:hover {
    cursor: pointer;
}

h2.feature-card-heading {
    font-size: 36px;
    font-weight: 400;
    line-height: 43.2px;
    text-align: center;
    margin-bottom: 50px;
}

.footer {
    background-color: var(--color-background-card);
    margin-top: 150px;
    padding-top: 50px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-column a {
    color: var(--color-foreground);
    text-decoration: none;
}

.footer-column-heading {
    color: var(--color-foreground-muted);
}

.copyright {
    color: var(--color-foreground-muted);
    max-width: var(--max-width);
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 40px;
}

.final-cta-heading h2 {
    font-size: 72px;
    text-align: center;
}

.final-cta-container .hero-cta {
    margin: 0 auto;
}