/* Reset CSS */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: rgb(245, 78, 0);
    --color-secondary: rgb(237, 236, 236);
    --color-background: #14120b; /* rgb(20, 18, 11);*/
    --color-background-card: rgb(27, 25, 19);
    --color-foreground: #edecec; /* rgb(237, 236, 236); */
    --color-foreground-muted: #d7d6d5; /* rgb(215, 214, 213); */
    --font-family: 'Geist', system-ui, 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    --max-width: 1317px;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-family);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0;
}

.logo img {
    width: 95px;
}

.nav-container {
    display: flex;
    align-items: center;
    padding: 15px 0;
    padding-right: 17px;
    justify-content: space-between;
}

.primary-btn, .secondary-btn {
    font-size: 14px;
}

.primary-btn {
    background-color: var(--color-foreground);
    color: var(--color-background);
    padding: 6px 11px;
    border-radius: calc(infinity*1px);
}

a {
    text-decoration: none;
}
.secondary-btn {
    background-color: black;
    color: var(--color-foreground);
    padding: 6px 11px;
    border: 0.5px solid var(--color-foreground);
    border-radius: calc(infinity*1px);
}

.primary-btn:hover {
    background-color: var(--color-foreground-muted);
}

.nav-links a {
    color: var(--color-foreground);
    text-decoration: none;
    padding: 0 15px;
    font-size: 14px;
}

section {
    padding-top: 112px;
}

.hero-headline {
    width: 550px;
}

h1 {
    font-size: 26px;
    font-weight: 375;
    letter-spacing: -0.325px;
    line-height: 32.5px;
    margin-bottom: 25px;
}

.hero-cta-container {
    height: 50px;
    width: 550px;
}
.hero-cta {
    background-color: var(--color-foreground);
    color: var(--color-background);
    padding: 6px 11px;
    border-radius: calc(infinity*1px);
    padding: 12.5px 21.5px;
    display: block;
    width: 250px;
}
.icon {
    padding: 7px;
    font-weight: 700;
    font-size: 1.1em;
}

